@import './base.css';
@import 'tailwindcss';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .drag {
    -webkit-app-region: drag;
  }
  .no-drag {
    -webkit-app-region: no-drag;
  }
  .scrollbar-hide {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
